<!-- templates/index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz App</title>
</head>
<body>
    <h1>Welcome to the Quiz App</h1>

    <form action="/create" method="post">
        <label for="username">Enter your username:</label>
        <input type="text" id="username" name="username" required>
        <button type="submit">Create Room</button>
    </form>

    <form action="/join" method="post">
        <label for="username">Enter your username:</label>
        <input type="text" id="username" name="username" required>
        <label for="room">Enter the room code:</label>
        <input type="text" id="room" name="room" required>
        <button type="submit">Join Room</button>
    </form>

    <script src="https://cdn.socket.io/4.7.4/socket.io.min.js" integrity="sha384-Gr6Lu2Ajx28mzwyVR8CFkULdCU7kMlZ9UthllibdOSo6qAiN+yXNHqtgdTvFXMT4" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
